/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  /**
   * colors
   */
  --blue-1: #0D1831;
  --blue-2: #97C5E8;
  --blue-3: #D5EAFE;
  --grey: #4F4F4F;
  --grey-2: #4F4F4F;
  --black: #000000;
  --white: #FFFFFF;


  /**
   * typography
   */

  --ff-1: 'Poppins',
    sans-serif;
  --ff-2: 'Righteous',
    cursive;

  /**
   * radius
   */

  --radius-5: 5px;
  --radius-10: 10px;

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
}



/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

body {
  font-family: var(--ff-1)
}